doctype html
head
    title Sala #{roomname}
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="../../../js/room.js")

  body
      p Room's name: #{roomname}
      p Your name:, #{username}

      p#joined

      p#username.player-row 
